<div class="container">
    <form #query="ngForm" (ngSubmit)="newSearch(query.value.searchText)">
        <span>Write here your text to search: </span>
        <input id="search" name="searchText" type="text" required autofocus="true" ngModel>
        <button class="btn vtn-primary">Search</button>
    </form>
</div>
<p id="pleaseWait" hidden>Please wait while retrieving data...</p>
<p id="errorMessage" hidden>Sorry, an error accures during data retrieving. Please reload page and make a new search.
</p>
<div class="album py-5 bg-light" *ngIf="searchResults">
    <ng-container *ngTemplateOutlet="pagingButtons"></ng-container> <br>
    <span>Page {{currentPage}} of {{totalPages}} | Results {{30*currentPage-29}} -
        {{30*currentPage > searchResults.total_count ?
                 searchResults.total_count : 30*currentPage}} of {{searchResults.total_count}}
    </span>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let repository of searchResults.items; let i=index">
                <div class="card mb-4 shadow-sm">
                    <img src="{{repository.owner.avatar_url}}" class="bd-placeholder-img card-img-top" width="250"
                        focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <div class="card-body">
                        <p class="card-text">{{repository.name}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToBookmarks(i)">Add to bookmarks</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Remove from
                                    bookmarks</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="pagingButtons"></ng-container>
    <ng-template #pagingButtons>
        <button id="previousButton" type="button" class="w3-left w3-btn" [disabled]="previousButtonDisabled"
            (click)="previousPage()">&#10094;&#10094; Previous</button>
        <button id="nextButton" type="button" class="w3-right w3-btn" [disabled]="nextButtonDisabled"
            (click)="nextPage()">Next &#10095;&#10095;</button>
    </ng-template>
</div>